<%= form_with(model: score) do |form| %>
  <% if score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
        <% score.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br />
  <div class="field">
    <%= form.label :student_id %>
    <%= form.number_field :student_id %>
  </div>
  <br />
  <div class="field">
    <%= form.label :subject_id %>
    <%= form.number_field :subject_id %>
  </div>
  <br />
  <div class="field">
    <%= form.label :final %>
    <%= form.number_field :score %>
  </div>
  <br />
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
